<!DOCTYPE HTML>
<html lang="ru,en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Конвертер json| Converter json</title>
    <link rel="stylesheet" type="text/css" href="semantic.css">
</head>
<body ng-app="converter">
<div class="ui center aligned grid" ng-controller="mainController">
    <header class="center aligned sixteen column row"><h3>Конвертер</h3></header>
    <div class="center aligned eight">
        <div class="ui form">
            <div class="field">
                <label>Исходный</label>
                <textarea ng-model="inputData" style="width: 300px!important;height: 300px!important;"></textarea>
            </div>
        </div>
    </div>
    <div class="center aligned eight">
        <div class="ui form">
            <div class="field">
                <label>Сконвертированный</label>
                <textarea ng-bind="outputData" style="width: 300px!important;height: 300px!important;"></textarea>
            </div>
        </div>
    </div>
    <div class="center aligned sixteen column row">
        <button class="ui primary button" ng-click="convert()">
            Конвертировать
        </button>
    </div>
</div>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>